<a href="https://colab.research.google.com/github/SolBam/Python-Pra/blob/main/10_%EA%B8%B0%ED%83%80_%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(5):
  if i == 3:
    continue
  print(i)

0
1
2
4

In [2]:
li = [0, 1, 2, 0, 3, 0, 4, 5]

for i in li:
  if i == 0:
    continue
  print(i)

1
2
3
4
5

In [3]:
for i in range(5):
  if i == 3:
    break
  print(i)

0
1
2

In [5]:
n = 0

while True:
  if n >= 5:
    break
  print(n)
  n += 1
print('반복 종료')

0
1
2
3
4
반복 종료

In [7]:
for i in range(1, 101):
  if i % 3 == 0 and i % 7 == 0:
    print(f'3의 배수이면서 7의 배수인 첫 번째 숫자: {i}')
    break

3의 배수이면서 7의 배수인 첫 번째 숫자: 21

In [8]:
for i in range(5):
  if i == 3:
    pass
  print(i)

0
1
2
3
4

In [9]:
a = 5

if a > 0:
  pass
else:
  pass

In [10]:
for i in range(1, 11):
  pass