<a href="https://colab.research.google.com/github/SolBam/Python-Pra/blob/main/12_%EC%98%88%EC%A0%9C_%EC%BD%94%EB%93%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# abs(x): 숫자 x의 절댓값을 반환

print(abs(-3))
print(abs(3))

3
3

In [2]:
# round(x, n): 숫자 x를 소수점 이하 n자리까지 반올림
# n이 생략되면 기본적으로 0으로 간주되어 정수로 반올림

print(round(3, 3))
print(round(3, 6))
print(round(3.3333, 1))

3
3
3.3

In [3]:
# ord(c): 문자 c의 아스키 코드를 반환
# chr(i): 아스키 코드 i에 해당하는 문자를 반환

print(ord('A'))
print(chr(65))

65
A

In [4]:
# map(function, iterable): 주어진 함수를 반복 가능한 객체의 각 요소에 적용한 결과를 반환

li = [1, 2, -3, -4]
print(list(map(abs, li)))

[1, 2, 3, 4]

In [5]:
li = list(map(int, input().split()))
print(li)

3 2 5 6 2
[3, 2, 5, 6, 2]

복합 예제 풀이

In [6]:
# 여러 개의 알파벳을 입력받아 아스키코드 값 구하기

alphabets = input().split()

for a in alphabets:
  if len(a) == 1 and a.isalpha():
    ascii = ord(a)
    print(f'{a} - 아스키 코드 값: {ascii}')
  else:
    print(f'{a} - 올바른 알파벳이 아닙니다.')

a d w g d 3 4
a - 아스키 코드 값: 97
d - 아스키 코드 값: 100
w - 아스키 코드 값: 119
g - 아스키 코드 값: 103
d - 아스키 코드 값: 100
3 - 올바른 알파벳이 아닙니다.
4 - 올바른 알파벳이 아닙니다.

In [7]:
# 여러 개의 숫자를 입력받아 그 중 짝수의 합 구하기

li = list(map(int, input().split()))
total = 0

for i in li:
  if i % 2 == 0:
    total += i

print(total)

4 69 38 4 6 3 4 6 345 45
62

In [8]:
# 이름이 담긴 리스트에서 '김'씨 성을 가진 사람 출력하기

names = ['김민주', '김민지', '이민정', '박민영']

for n in names:
  if n[0] == '김':
    print(n)

김민주
김민지

In [9]:
# 이름과 성적이 담긴 2개의 리스트에서 80점 이상을 받은 학생만 출력하기

names = ['김민주', '김민지', '이민정', '박민영']
scores = [85, 72, 78, 95]

for n, s in zip(names, scores):
  if s >= 80:
    print(f'{n}: {s}점')

김민주: 85점
박민영: 95점

In [10]:
# 문장에서 각 이름의 빈도수를 딕셔너리에 저장하기

text = '민지 민지 민정 민주 민영 민지 민주'
dic = {}

for name in text.split():
  dic[name] = dic.get(name, 0) + 1

print(dic)

{'민지': 3, '민정': 1, '민주': 2, '민영': 1}