<a href="https://colab.research.google.com/github/SolBam/Python-Pra/blob/main/14_%ED%82%A4%EC%9B%8C%EB%93%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
num = 1

def func():
  global num
  num = 2
  print(num)

func()
print(num)

2
2

In [4]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
  print(number)

1
2
3
4
5

In [5]:
numbers = [1, 2, 3, 4, 5]

print(2 in numbers)
print(6 in numbers)

True
False

In [6]:
text = 'Hello. World!'

print('World' in text)
print('universe' in text)

True
False

In [ ]:
# 변수 삭제
x = 50

print(x)

del x

print(x)

In [ ]:
# 객체 삭제
my_list = [1, 2, 3]

print(my_list)

del my_list

print(my_list)

In [9]:
# 슬라이스 삭제
my_list = [1, 2, 3, 4, 5]

print(my_list)

del my_list[1:3]

print(my_list)

[1, 2, 3, 4, 5]
[1, 4, 5]

In [ ]:
# 객체의 속성 삭제
class MyClass:
  def __init__(self, name, age):
    self.name = name
    self.age = age

my_class = MyClass('John', 30)

print(my_class.name)
print(my_class.age)

del my_class.age

print(my_class.name)
print(my_class.age)

In [11]:
# 일반적인 함수 만들기
def add(x, y):
  return x + y

print(add(5, 6))

11

In [12]:
# 간단한 익명 함수 만들기
add = lambda x, y: x + y

print(add(5, 6))

11

In [13]:
# 익명 함수를 인자로 전달하기
def apply_function(func, arg1, arg2):
  return func(arg1, arg2)

result = apply_function(lambda x, y: x * y, 5, 6)

print(result)

30

In [15]:
# 익명 함수를 반환하기
def create_multiplier(factor):
  return lambda x: x * factor

double = create_multiplier(2)
triple = create_multiplier(3)

print(double(5))
print(triple(5))

10
15