<a href="https://colab.research.google.com/github/SolBam/Python-Pra/blob/main/15_%EB%82%B4%EC%9E%A5%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
numbers = [1, 2, 3, 4, 5]

# 리스트의 모든 요소가 짝수인지 확인
all_even = all(number % 2 == 0 for number in numbers)
print(all_even)

# 리스트의 모든 요소가 0보다 큰지 확인
all_positive = all(number > 0 for number in numbers)
print(all_positive)

False
True

In [3]:
strings = ['hello', 'hi', 'world', 'python']

# 리스트의 요소 중 하나라도 비어 있는 문자열인지 확인
any_empty = any(string == '' for string in strings)
print(any_empty)

# 리스트의 요소 중 하나라도 'hello'인지 확인
any_hello = any(string == 'hello' for string in strings)
print(any_hello)

False
True

In [4]:
print(bin(20))
print(oct(20))
print(hex(20))

print(int('0b10100', 2))
print(int('0o24', 8))
print(int('0x14', 16))

0b10100
0o24
0x14
20
20
20

In [5]:
numbers = [1, 2, 3, 4, 5]

for number in reversed(numbers):
  print(number, end='')

print()

string = 'hello world'

for char in reversed(string):
  print(char, end='')

54321
dlrow olleh

In [7]:
# 리스트 정렬
numbers = [5, 2, 8, 1, 4]

sorted_numbers1 = sorted(numbers)
print(sorted_numbers1)

sorted_numbers2 = sorted(numbers, reverse=True)
print(sorted_numbers2)

[1, 2, 4, 5, 8]
[8, 5, 4, 2, 1]

In [8]:
# 문자열 정렬
strings = ['hello', 'world', 'apple', 'banana']

# 사전순으로 오름차순으로 정렬
sorted_strings = sorted(strings)
print(sorted_strings)

['apple', 'banana', 'hello', 'world']

In [9]:
# 중첩 리스트 정렬(key 활용)
nested_list = [[5, 3], [7, 2], [6, 1]]

sorted_list1 = sorted(nested_list)
print(sorted_list1)

sorted_list2 = sorted(nested_list, key=lambda x: x[1])
print(sorted_list2)

[[5, 3], [6, 1], [7, 2]]
[[6, 1], [7, 2], [5, 3]]

In [10]:
# 중첩 리스트 정렬(key, reverse 활용)
nested_list = [['apple', 10], ['banana', 5], ['strawberry', 20]]

# 각 리스트의 두 번째 요소를 기준으로 내림차순으로 정렬
sorted_list1 = sorted(nested_list, key=lambda x: x[1], reverse=True)
print(sorted_list1)

# 각 리스트의 첫 번째 요소의 길이를 기준으로 내림차순으로 정렬
sorted_list2 = sorted(nested_list, key=lambda x: len(x[0]), reverse=True)
print(sorted_list2)

[['strawberry', 20], ['apple', 10], ['banana', 5]]
[['strawberry', 20], ['banana', 5], ['apple', 10]]

In [12]:
# 딕셔너리 정렬(key 활용)
people = [
    {'name': 'John', 'age': 30},
    {'name': 'Mary', 'age': 25},
    {'name': 'Bob', 'age': 17}
]

# 나이를 기준으로 오름차순으로 정렬
sorted_people = sorted(people, key=lambda x: x['age'])
print(sorted_people)

[{'name': 'Bob', 'age': 17}, {'name': 'Mary', 'age': 25}, {'name': 'John', 'age': 30}]

In [13]:
numbers = [1, 3, 5, 7, 9]

for number in numbers:
  print(f'Number: {number}')

Number: 1
Number: 3
Number: 5
Number: 7
Number: 9

In [15]:
numbers = [1, 3, 5, 7, 9]

for i in range(len(numbers)):
  print(f'Index: {i}, Number: {numbers[i]}')

Index: 0, Number: 1
Index: 1, Number: 3
Index: 2, Number: 5
Index: 3, Number: 7
Index: 4, Number: 9

In [16]:
numbers = [1, 3, 5, 7, 9]

for index, number in enumerate(numbers):
  print(f'Index: {index}, Number: {number}')

Index: 0, Number: 1
Index: 1, Number: 3
Index: 2, Number: 5
Index: 3, Number: 7
Index: 4, Number: 9

In [17]:
dic = {'name': 'John', 'age': 30, 'city': 'Seoul'}

for key in dic:
  print(f'Key: {key}, value: {dic[key]}')

Key: name, value: John
Key: age, value: 30
Key: city, value: Seoul

In [18]:
dic = {'name': 'John', 'age': 30, 'city': 'Seoul'}

for index, key in enumerate(dic):
  print(f'Index: {index}, key: {key}, value: {dic[key]}')

Index: 0, key: name, value: John
Index: 1, key: age, value: 30
Index: 2, key: city, value: Seoul

In [20]:
numbers = [3, 5, 4, 6, 8, 7, 9, 1, 2, 10]

for i in range(len(numbers)):
  if numbers[i] % 2 == 0:
    print(i, end=' ')

2 3 4 8 9

In [21]:
numbers = [3, 5, 4, 6, 8, 7, 9, 1, 2, 10]

for index, value in enumerate(numbers):
  if value % 2 == 0:
    print(index, end=' ')

2 3 4 8 9

In [22]:
rows = zip([1, 2, 3], ['a', 'b', 'c'], [True, False, True])

print(list(rows))

[(1, 'a', True), (2, 'b', False), (3, 'c', True)]

In [23]:
numbers = [1, 2, 3]
String = ['a', 'b', 'c']
booleans = [True, False, True]

for i in range(3):
  print(f'Number: {numbers[i]}, String: {String[i]}, Boolean: {booleans[i]}')

Number: 1, String: a, Boolean: True
Number: 2, String: b, Boolean: False
Number: 3, String: c, Boolean: True

In [24]:
numbers = [1, 2, 3]
String = ['a', 'b', 'c']
booleans = [True, False, True]

for number, string, boolean in zip(numbers, String, booleans):
  print(f'Number: {number}, String: {string}, Boolean: {boolean}')

Number: 1, String: a, Boolean: True
Number: 2, String: b, Boolean: False
Number: 3, String: c, Boolean: True

In [26]:
list1 = [1, 2, 3, 4, 5]
list2 = [10, 20, 30, 40, 50]

total = 0

for n1, n2 in zip(list1, list2):
  total += n1 * n2

average = total / len(list1)

print('두 리스트 요소들의 곱의 평균:', average)

두 리스트 요소들의 곱의 평균: 110.0

In [27]:
numbers = ['1', '2', '3', '4', '5']

int_numbers = int(numbers)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [28]:
numbers = ['1', '2', '3', '4', '5']

int_numbers = []

for n in numbers:
  int_numbers.append(int(n))

print(int_numbers)

[1, 2, 3, 4, 5]

In [29]:
numbers = ['1', '2', '3', '4', '5']

int_numbers = list(map(int, numbers))

print(int_numbers)

[1, 2, 3, 4, 5]

In [30]:
numbers = [1, 2, 3, 4, 5]

def multiply_by_two(number):
  return number * 2

doubled_numbers = list(map(multiply_by_two, numbers))
print(doubled_numbers)

[2, 4, 6, 8, 10]

In [32]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def is_even(number):
  if number % 2 == 0:
    return True
  else:
    return False

even_numbers = []

for n in numbers:
  if is_even(n):
    even_numbers.append(n)

print(even_numbers)

[2, 4, 6, 8, 10]

In [34]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def is_even(number):
  if number % 2 == 0:
    return True
  else:
    return False

even_numbers = list(filter(is_even, numbers))

print(even_numbers)

[2, 4, 6, 8, 10]

In [36]:
people = [
    {'name': 'John', 'age': 30, 'gender': 'male'},
    {'name': 'Mary', 'age': 25, 'gender': 'female'},
    {'name': 'Bob', 'age': 17, 'gender': 'male'},
    {'name': 'Alice', 'age': 22, 'gender': 'female'}
]

male_people = list(filter(lambda person: person['gender'] == 'male', people))

print(male_people)

[{'name': 'John', 'age': 30, 'gender': 'male'}, {'name': 'Bob', 'age': 17, 'gender': 'male'}]