<a href="https://colab.research.google.com/github/SolBam/Python-Pra/blob/main/20_Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
numbers = [i for i in range(5)]
print(numbers)

[0, 1, 2, 3, 4]

In [2]:
even_numbers = [i for i in range(10) if i % 2 == 0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [3]:
matrix = [[i * j for j in range(1, 4)] for i in range(1, 4)]
print(matrix)

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [4]:
n = 5
nested_list = [[i for i in range(1, x + 1)] for x in range(1, n + 1)]
print(nested_list)

[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5]]

In [6]:
# 주어진 문자열 리스트에서 각 문자열의 길이가 n 이상인 문자열만 추출하여 이들을 대문자로 변환한 결과를 새로운 리스트에 추가
def long_strings(strings, n):
  return [s.upper() for s in strings if len(s) >= n]

li = long_strings(['apple', 'banana', 'orange', 'kiwi', 'strawberry'], 5)
print(li)

['APPLE', 'BANANA', 'ORANGE', 'STRAWBERRY']

In [7]:
# 주어진 정수 리스트에서 홀수만 추출하여 각 숫자를 문자열로 변환하고, 이들을 뒤집은 문자열로 이루어진 리스트를 생성
def reverse_odd_numbers(numbers):
  return [str(num)[::-1] for num in numbers if num % 2 != 0]

li = reverse_odd_numbers([123, 456, 789, 102])
print(li)

['321', '987']