<a href="https://colab.research.google.com/github/SolBam/Python-Pra/blob/main/4_%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
text_list = list('hello')

print(num_list)
print(text_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['h', 'e', 'l', 'l', 'o']

In [2]:
print(text_list[0])
print(text_list[1:3])

h
['e', 'l']

In [4]:
num_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

num_list[-1] = 100
print(num_list)

num_list[2:4] = [20, 30]
print(num_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100]
[0, 1, 20, 30, 4, 5, 6, 7, 8, 9, 100]

In [5]:
num_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

del num_list[0]
print(num_list)

del num_list[1:3]
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 5, 6, 7, 8, 9, 10]

In [6]:
num_list = [5, 3, 2, 4, 7, 8, 6, 9, 1]
num_list.append(10) # 리스트 맨 뒤로 값 추가
num_list

[5, 3, 2, 4, 7, 8, 6, 9, 1, 10]

In [7]:
num_list.insert(3, 100) # 원하는 위치에 값 추가
num_list

[5, 3, 2, 100, 4, 7, 8, 6, 9, 1, 10]

In [8]:
num_list.remove(5) # 해당하는 값 삭제
num_list

[3, 2, 100, 4, 7, 8, 6, 9, 1, 10]

In [9]:
num_list.pop(2) # 해당 위치 값 삭제
num_list

[3, 2, 4, 7, 8, 6, 9, 1, 10]

In [10]:
num_list.sort() # 리스트 내부 값 정렬
num_list

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [11]:
num_list.reverse() # 리스트 내부 값 순서 뒤집기
num_list

[10, 9, 8, 7, 6, 4, 3, 2, 1]

In [12]:
num_list.index(9) # 해당 값이 있는 위치 반환

1

In [13]:
num_list = [1, 1, 1, 1, 2, 2, 3, 4]
num_list.count(1) # 해당 값이 있는 개수 반환

4

In [14]:
num_list = [5, 3, 2, 4, 7, 8, 6, 9, 1]

print(len(num_list)) # 리스트의 갯수를 셈
print(sum(num_list)) # 리스트 내의 값을 모두 더함
print(max(num_list)) # 리스트 내의 값 중 가장 큰 값을 반환
print(min(num_list)) # 리스트 내의 값 중 가장 작은 값을 반환

9
45
9
1

In [15]:
bool_list = [True, True, False]

print(any(bool_list)) # 리스트 내의 값이 하나라도 True일 때 True
print(all(bool_list)) # 리스트 내의 값이 모두 True일 때 True

True
False