<a href="https://colab.research.google.com/github/SolBam/Python-Pra/blob/main/6_%ED%8A%9C%ED%94%8C_%26_%EC%84%B8%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [2]:
print(my_tuple[0])
print(my_tuple[1:3])

1
(2, 3)

In [3]:
a, b, c = (1, 2, 3)

print(a, b, c)

1 2 3

In [4]:
a = 5
b = 10

a = b
b = a

print(a, b)

10 10

In [5]:
a = 5
b = 10

temp = a
a = b
b = temp

print(a, b)

10 5

In [6]:
a = 5
b = 10

a, b = b, a

print(a, b)

10 5

In [7]:
my_set = {1, 2, 3, 3, 4, 5}

print(my_set)

{1, 2, 3, 4, 5}

In [8]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

In [9]:
print(set1 | set2)
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [10]:
print(set1 & set2)
print(set1.intersection(set2))

{3, 4, 5}
{3, 4, 5}

In [11]:
print(set1 - set2)
print(set1.difference(set2))

{1, 2}
{1, 2}

In [12]:
print(set2 - set1)
print(set2.difference(set1))

{6, 7}
{6, 7}

In [13]:
li = [3, 3, 3, 4, 5, 6, 7]
tu = (3, 3, 3, 4, 5, 6, 7)
dic = {'a': 1, 'b': 2, 'c': 3}

print(set(li))
print(set(tu))
print(set(dic))

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}
{'c', 'b', 'a'}